
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}


.body-index{
    font-family:  sans-serif;
    text-decoration: none;
    padding: 70px 20px 0;
    background: url(../imagenes/fondo5.png);
    background-size:  100% 100%;
   background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

                                      /* PRINCIPIO ARREGLOS AL MENU*/


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    
}
.nav{
   display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.1rem;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
    background-color:  rgb(92, 37, 37);
}
.logo{
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
   

}
.logo img{
  
    padding: 0 40px;
    line-height: 80px;
    object-fit: contain;
    object-position: center;

}

.menu{
   display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}
.menu-item{
    font-size: 17px;
    margin: 0 10px;
   display: inline-flex;
   align-items: center;
    justify-content:left;
    width: 20%;
    height: 80%;
    color: white;

}
.menu-item a{
    width: 100%;
    height: 100%;
    padding: 15px 12px;
   text-align: center;
    vertical-align: middle;
    
    text-decoration: none;
    color:white;
    
    
}
.menu-item:hover{
    background-color: rgb(141, 60, 60);
    transition: all .5s;
    border-radius: 5px;
}
 .menu-item:hover .submenu {
    display: initial;
   transition: all .5s;

}
.submenu{
    position: absolute;
    width: 15.5%;
    top: 65px;
    list-style: none;
    display: none;
    background-color:  rgb(92, 37, 37);
}
.submenu-items{
    font-size: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
}
.submenu-items a{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.submenu-items a:hover{
    background-color: rgb(167, 102, 102);
    transition: all .5s;
}

.boton_menu{
    color: white;
    background: none;
    border: none;
    font-size: 28px;
    padding: 0 20px;
    line-height: 50px;
    /*position: absolute;*/
    display: none;
}
                             /*FIN DE ARREGLOS DEL MENU*/

                             /*PRINCIPIO ARREGLO INDEX*/
.principal{
	width: 100%;
	height: 650px;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.principal img{
    margin-top: 250px;
}
.video div{
    margin-top: 100px;
   justify-content: center;
   align-items: center;
   display: flex;
}

.secundario{
	margin-top: 20%;
	display: flex;
}
.secundario div{
	width: 33%;
	padding: 2%;
	text-align: center;
}
.secundario div a img{
	width: 300px;
	margin-bottom: 2rem;
    height: 200px;

}
h2{
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.secundario a{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    text-decoration: none;

}
.audio div{
   
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;
}
footer img{
	max-width: 2.5rem;
    margin-right: 2%;
    margin-left: 2%;
}
                              /*FIN DEL INDEX*/
                              /*INICIO ARREGLO INFORMACION*/
 
body{
    padding: 100px 20px 0;
    background: url(../imagenes/fondocomun.png);
    background-size:  100% 100%;
   background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(46, 44, 44);
    background-blend-mode: soft-light;
}

.titulo-info{
    font-size: 50px;
    margin-bottom: 80px;
    width: 1240px;
    height: 80px;
    color:white;
    text-transform: uppercase;
    color: rgb(236, 219, 193);
    
}
.texto-info b{

    text-transform: uppercase;
    font-size: 25px;
    color: rgb(236, 219, 193);
}
.texto-info{
    font-size: 23px;
    text-align: justify-all;
    color:white;
    background-size:  100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: auto;
    margin-left: 0;
    
}
.info{
    float: right;
}
.info img{
    width: 390px;
    height: 570px;
    border-radius: 2%;
    margin-right: 40px;
    border-style:ridge ;
}
.info2{
    float: left;
    margin-bottom: 5%;
}
.info2 img{
    width: 400px;
    height: 250px;
    border-radius: 2%;
    margin-right: 40px;
    border-style:ridge ;
}
                                 /*FIN ARREGLO INFORMACIO*/
                                 /*INICIO ARREGLO PERSONAJES*/

.imagen-personajes{

    justify-content: center;
    align-content: center;
    display: flex;
}
.imagen-personajes h2{
    margin-top: 40px;
    margin-bottom: 150px;
    font-size: 34px;
    justify-content: center;
    align-content: center;
    display: flex;
}
.imagen-personajes a{
    text-decoration: none;
    list-style: none;

}
                                /*FIN ARREGLO PERSONAJES*/
                                /*INICIO ARREGLO CAPITULOS*/
.titulo-cap{
    font-size: 50px;
    margin-bottom: 80px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(235, 214, 183);
}
.capitulos h2{
    font-size: 30px;
    margin-left: 30px;
    text-align: left;
    color: rgb(236, 219, 193);
}
.capitulos p{
    font-size: 23px;
    text-align: center;
    color:white;
    background-size:  100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;   
    font-family: 'Mulish', sans-serif;
}
.capitulos div{
    margin-top: 80px;
    margin-bottom: 100px;
    justify-content: center;
    align-content: center;
    display: flex;
}
.capitulos div img{
    width: 500px;
    height: 320px;
    
}
                                /*FIN ARREGLO CAPITULOS*/
                                /*INICIO ARREGLO CRITICAS*/
.titulo-critica{
    font-size: 50px;
    margin-bottom: 50px;
    width: 1240px;
    height: 80px;
    text-transform: uppercase;
    text-align: left;
    color: rgb(235, 214, 183);
}
.texto-critica {
    margin-top: 100px;
    color:white;
    font-size: 23px;
    text-align: justify-all;
    color:white;
    background-size:  100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: auto;
    margin-left: 0;
}
.texto-critica  a{
    color:rgb(185, 27, 27);
}
                            /*FIN DEL ARREGLO CRITICA*/
                            /*INICIO ARREGLO DE INFECTADOS*/
.infectados{
    border-style: ridge;
    margin-bottom: 200px;
    margin-left: 40px;
    margin-right: 40px;
}
.infectados h2{
    font-size: 37px;
    text-align: center;
    margin-bottom: 30px;
    color:  rgb(235, 214, 183);
}
.infectados p{
    color: white;
    font-size: 27px;
   text-align: center;
   padding: 0 20px;
    
}
.infectados div{

    justify-content: center;
    align-content: center;
    display: flex;
}
.infectados img{
    margin-top: 100px;
    margin-bottom: 100px;
}
                        /*FIN DE ARREGLO DE INFECTADOS*/
                        /*INICIO ARREGLO GRUPOS*/

.grupos{
    border-style: ridge;
    margin-bottom: 200px;
    margin-left: 40px;
    margin-right: 40px;
}
.grupos h2{
    margin-left: 50px;
    font-size: 37px;
    text-align: left;
    margin-bottom: 30px;
    color:  rgb(235, 214, 183);  
}
.grupos p{
    color: white;
    font-size: 27px;
   text-align: center;
   padding: 0 20px;
}
.grupos div{
    justify-content: center;
    align-content: center;
    display: flex;
}
.grupos img{
   
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    align-content: center;
    display: flex;
}
.img2 img{
  
    margin-top: 100px;
    margin-bottom: 100px;
}
                                    /*FIN ARREGLO GRUPOS*/
                                    /*INICIO ARREGLO PERSONAJES*/
.titulo-personajes{
    color:  rgb(235, 214, 183); 
    font-size: 50px;
    margin-left: 20px;
}
.datos p{
    color: white;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    /*border-style:ridge ;*/
    margin-right: 850px;
    margin-bottom: 20px;
}
.actores div img{
    float: right;
    margin-right: 40px;
    border-style:ridge ;

}
.actores .personajes-texto{
    color: white;
    font-size: 27px;
    margin-top: 25px;
    text-align:left;
    margin-left: 20px;
    margin-right: 400px;
    margin-bottom: 40px;
}
.datos p b{
    color: white;  
    font-size: 27px;
}
                                /*FIN ARREGLO PERSONAJES*/
                               /*INICIO ARREGLO GALERIA*/


.body-galeria{
    padding: 200px 10px 0;
}
.titulo-galeria{
    font-size: 50px;
    margin-bottom: 80px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(235, 214, 183);
}
                                /*FIN ARREGLO GALERIA*/
                                /*INICIO ARREGLO CONTACTO*/


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #f8f8f8;
  font-size: 16px;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color:#f8f8f8;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color:#f8f8f8;
  font-size: 16px;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #f8f8f8;
}

input::placeholder, textarea::placeholder {
  color: #f8f8f8;
  font-size: 16px;
}

input:focus::placeholder, textarea:focus::placeholder {
  color:#f8f8f8;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color:#f8f8f8;
  font-size: 16px;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #f8f8f8;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color:  #f8f8f8;
  font-size: 16px;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color:  #f8f8f8;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #f8f8f8;
  font-size: 16px;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #f8f8f8;
}

input:hover::placeholder, textarea:hover::placeholder {
  color:  #f8f8f8;
  font-size: 16px;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #f8f8f8;
}

input:hover::placeholder, textarea:hover::placeholder {
  color:  #f8f8f8;
  font-size: 17px;
}

input:hover:focus::-ms-placeholder, textarea:hover:focus:-ms-placeholder {
  color: #f8f8f8;
}



#form {
  position:none;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {

  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #ffffff;
  
  border: solid 1px #ffffff;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #7a3535;
  color: #e2d6d6;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #ffffff;
 
  font-size: 0.875em;
  
  border: solid 1px #ffffff;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #7a3535;
    color: #e2d6d6;
}

#submit {
  padding: 0;
  font-size: 0.875em;
  color: #ffffff;
  outline:none;
  cursor: pointer;
  border: solid 1px #ffffff;
  border-top: none;
}

#submit:hover {
  color: #ffffff;
}
.contenedora h2{
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 30px;
}
#conectar{
    opacity: 0;
}
@media (max-width: 570px){
    .boton_menu{
        display: block;
        position: absolute;
        right: 0;  
        margin-top: 0.7%;
    }

   .nav{
      position: absolute;
      flex-direction: column;
      width: 100%;
      height: 65%;
      top: 0;
    }
    
    .menu{
        top: 6%;
        flex-direction:column ;
        background-color: #7a3535;
        width: 100%;
        position: fixed;
        left: 100%;
        transition: left 0.3s;
    }
    .menu-item{
        font-size: 14px;
        padding: 2px;
        width: 100%;
        height: 100%;
        color: white;
        position: relative;
    }

    .submenu{
       
        width:100%;
        top: 40px;
        margin-left: 0;
        display: none;
        z-index: 1000;
        background-color: rgb(133, 50, 50);   
    }
    .submenu-items{
        font-size: 14px;
    }
  
 

    .logo{
        display: inline-block;
        position: absolute;
        z-index: 1000;
    }
    .logo img{ 
        line-height: 80px;
        object-fit: contain;
        object-position: center;
        padding: 10% ;
        width: 80px;
        position: relative;
        left: 20px;
    }
    .menu-item:hover{
        background:none;
    }
    .menu-item a:hover{
       
        color:rgb(219, 189, 190);  
    }
    .nav-menu-visible{
        left: 0%;
    }
 
    .principal img{
        margin-top: 5%;
        width: 350px;
        height: 90px;
        padding: auto;
        
    }
    .video div{
       margin-top: 0px;
    }
    
    .secundario{
        
        display: block;
    }
    .secundario div{
        width: 100%;
    }
    .secundario div a img{
        margin-bottom: 1rem;
    }
    h2{
        font-size: 1rem;
    }
    h4{
        font-size: 1rem;

    }
    /*INFORMACION*/
    .titulo-info{
        
        font-size: 23px;
        width: 70%;
        height: 10%;
        margin-top: 5%;
        margin-bottom: 10%;     
    }
    .texto-info b{
    
        text-transform: uppercase;
        font-size: 15px;
        color: rgb(236, 219, 193);
    }
    .texto-info{
        font-size: 15px;  
    }
    
    .info img{
        width: 170px;
        height: 270px;
        margin-right: 0px;
    }
    .info2{
        float: left;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px 10px 10px 10px;
       
    }

    .info2 img{
        width: 220px;
        height: 150px;
       margin-left: 0;
       margin-right: 0;
       padding: 0;
    }
    /*CRITICA*/
    .titulo-critica{
        font-size: 23px;
        margin-bottom: 20%;
        width: 100%;
        height: 0;
    }
    .texto-critica {
        margin-top: 10%;
        font-size: 15px;
        text-align: justify-all;
        color:white;
        background-size:  100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        width: auto;
        margin-left: 0;
    }
    .texto-critica  a{
        color:rgb(185, 27, 27);
    }
    /*PERSONAJES*/
    .titulo-personajes{
        color:  rgb(235, 214, 183); 
        font-size: 23px;
        margin-left: 20px;
    }
    .datos p{
        color: white;
        font-size: 15px;
        margin-right: 0px;
    }
    .actores div img{
        float: right;
        margin-right: 0px;
        border-style:ridge ;
        width: 150px;
    
    }
    .actores .personajes-texto{
        font-size: 17px;
        margin-right: 0px;
    }
    .datos p b{
        font-size: 17px;
    }
    /*CAPITULOS*/
    .titulo-cap{
        font-size: 23px;
        margin-bottom: 10%;
        text-align: center;
    }
    .capitulos h2{
        font-size: 18px;
        margin-left: 0px;
        text-align: center;
    }
    .capitulos p{
        font-size: 17px;
    }
    .capitulos div{
        margin-top: 40px;
        margin-bottom: 70px;
    }
    .capitulos div img{
        width: 300px;
        height: 200px;  
    }
    /*INFECTADOS*/
    .infectados{
        border-style: ridge;
        margin-bottom: 20%;
       justify-content: center;
    }
    .infectados h2{
        font-size: 19px;
        text-align: center;
        margin-bottom: 30px;
    }
    .infectados p{
        font-size: 15px;      
    }

    .infectados img{
        margin-top: 10%;
        margin-bottom: 10%;
        width: 230px;
    }
    /*GRUPOS*/
    .grupos{
        margin-bottom: 20%;
       justify-content: center;
    }
    .grupos h2{
        margin-left: 10%;
        font-size: 17px;
        text-align: left;
        margin-bottom: 5%; 
    }
    .grupos p{
        font-size: 17px;
       text-align: left;
    }
    .grupos div{
        justify-content: center;
        align-content: center;
        display: flex;
    }
    .grupos img{
       
        margin-top: 10%;
        margin-bottom: 10%;
        width: 200px;
    }
    .img2 img{
        width: 200px;
    }
    /*GALERIA*/
    .body-galeria{
        padding: 200px 10px 0;
    }
    .titulo-galeria{
        font-size: 23px;
        margin-bottom: 10%;
        margin-left: 0;
        text-transform: uppercase;
        text-align: center;
        color: rgb(235, 214, 183);
    }
    .example-image{
        width: 100px;
    }
    .galeria{
        margin-left: 10%;
        
    }
    /*FORMULARIO*/
    #form {
        position:none;
        width: 100px;
        margin: 0px auto 0px auto;
        left: 0;
       margin-right: 100%;
      
      }
      
      input {
        width: 270px;  
      }
      
      
      textarea {
        width: 270px;
        max-width: 270px;
        height: 110px;
        max-height: 110px;
        padding: 15px;    
       
      }
      #submit {
        width: 270px;
      }
      .contenedora h2{
        margin-bottom: 15%;
        margin-top: 5%;
        font-size: 23px;
    }

}